---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Ajeet Sinha" description="About Ajeet Sinha">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a proficient Software Developer and Electronics Engineer, my
            skill set encompasses a diverse range of technical capabilities that
            allow me to efficiently address the needs of clients across various
            disciplines. My expertise enables me to provide comprehensive
            solutions, effectively bridging the gap between software and
            hardware systems. With an extensive background in software
            development spanning 23 years, I have dedicated over 12 years to
            providing exceptional freelance services as an independent
            professional.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            MIE(Member of Institutions of Engineers) , Computer Science and
            Engineering
          </p>
          <p>BE (Computer Science and Engineering)</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            ✅ Programming languages: C, C++, C#, VB, Java, Go, Lang, Kotlin,
            Typescript, Javascript, Rust, Ruby, Python.
          </p>
          <p>
            ✅ Framework: Reactjs, Backbone.js, Magento, Prestashop,
            Codeigniter, Android,ChatGPT API. node , express js. Flask.
          </p>
          <p>✅ Cloud: Amazon web services (AWS), Microsoft Azure.</p>
          <p>✅ AI: Machine Learning, Neural Network.</p>
          <p>✅ ERP: Netsuite, Quickbooks, Odoo.</p>
          <p>✅ Embedded: FPGAs, ESP32, STM32,NodeMCU, AMD Xilinx.</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
